:root {
  --font: "Jost";
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.navbar_frame {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
}

.navbar_frame .container {
  flex-direction: column;
  padding: 20px 0px 14px;
}

.navbar_frame .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_top > a img {
  width: 117px;
  height: 36px;
  margin-right: 76px;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 531px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  background-color: white;
}

.navbar_frame .navbar_top.search_box {
  padding: 10px 17px;
  width: auto;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search_box.category_list {
  width: 166px;
  height: 40px;
  border: 1px solid blue;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .category_list select {
  width: 140px;
  height: 40px;
  border-radius: 6px 0px 0px 6px;

  border: none;
  outline: none;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.navbar_frame .category_list input {
  width: 337px;
  height: 40px;

  border: none;
  outline: none;

  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background-color: #f5c34b;
}

.navbar_frame .navbar_top .nav_top_menu {
  margin-top: -5px;
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.navbar_frame .top_menu_box .top_icon_box {
  width: 54px;
  height: 50px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid rgba(255 255 255 0);
  border-radius: 6px;
}

.navbar_frame .top_icon_box img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.navbar_frame .top_icon_box .backet_count {
  width: 15px;
  height: 15px;

  position: absolute;
  top: -2px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: rgba(245, 195, 75, 1);
  color: rgba(11, 30, 64, 1);
}

.navbar_frame .top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .top_menu_box .box_info_box span {
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;

  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .top_menu_box .box_info_box strong {
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;

  font-family: var(--font);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 50px;

  border-top: 1px solid #5746e1;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 7px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navbar_frame .navbar_bott_menu_box .brows_box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746e1;
}

.navbar_frame .brows_box i {
  width: 30px;
  height: 20px;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .brows_box span {
  width: 185px;
  height: 30.02px;
  color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 560px;

  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu .router_menu {
  width: auto;
  height: 41px;
  display: flex;
}

.navbar_frame .router_menu a {
  margin-right: 20px;

  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.navbar_frame .router_menu a.active {
  color: rgba(245, 195, 75, 1);
}

.navbar_frame .navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.navbar_frame .sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}

.footer_frame {
  position: relative;
  width: auto;
  height: 507px;
  display: flex;
  margin-top: 90px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_frame .container {
  width: 1320px;
  height: 246.1px;
  margin-top: 70px;
  flex-direction: column;
}

.footer_frame .footer_top {
  width: 100%;
  height: 246px;

  display: flex;
  flex-direction: row;
}

.footer_top .contact_us_box {
  width: 285px;
  height: 194px;

  display: flex;
  flex-direction: column;
}

.contact_us_box .footer_space_title {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.contact_us_box .us_box_content {
  width: 274.31px;
  height: 54px;

  display: flex;
  flex-direction: row;
}
.contact_us_box .us_box_content img {
  width: 35.63px;
  height: 30px;
  margin-right: 50px;
}

.footer_box_content {
  display: flex;
  flex-direction: column;
}

.contact_us_box .us_box_content span {
  width: 209px;
  height: 22px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 8px;
  letter-spacing: 0%;
  text-align: left;
}

.contact_us_box .users_box_email {
  width: 274.31px;
  height: 54px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
}

.contact_us_box .users_box_email img {
  width: 35.63px;
  height: 30px;
  margin-right: 50px;
}

.contact_us_box .users_box_email a {
  text-decoration: none;
}

.users_box_email span {
  width: 209px;
  height: 22px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 8px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_support_box {
  width: 193.67px;
  height: 246.1px;
  margin-left: 90px;
}

.footer_support_box a {
  width: 193.67px;
  height: 38px;
  text-decoration: none;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_support_box .support_box_contact {
  display: flex;
  flex-direction: column;
}
.footer_support_box .support_box_contact a {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.footer_media_box {
  width: auto;
  height: 246.1px;
  display: flex;
  flex-direction: column;
}

.footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
}

.footer_media_box .footer_media_main .media_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.footer_media_main .media_box i {
  margin-top: 20px;
  padding-right: 25px;
  width: 30px;
  height: 30px;
}
.footer_media_main .footer_media_main {
  display: flex;
  flex-direction: row;
}

.footer_media_main .footer_space_title {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 20px;
}

.footer_media_main .mobile_apps_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer_media_main .mobile_apps_box img {
  width: 25px;
  height: 20px;
}

.footer_media_main .mobile_apps_box span {
  color: rgba(4, 30, 66, 1);
  margin-left: 20px;
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}

.footer_media_main .card_box {
  width: 302px;
  display: flex;
  margin-left: 20px;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 20px;
}

.footer_media_main .card_box img {
  margin-left: 12px;
}

.footer_frame .footer_bottom {
  margin-top: 90px;
  width: 1320px;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  border-top: 2px solid #eaeaea;
}

.footer_frame .footer_bottom .footer_main {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_main .footer_bottom_left {
  width: 940px;
  height: auto;

  display: flex;
  flex-direction: row;
}

.footer_main .footer_bottom_left span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  margin-right: 60px;
}

.footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_bottom_right .footer_select_box {
  width: 180px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background: #ffffff;

  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
}

.footer_bottom_right .footer_select_box span {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  margin: 0px 15px;

  color: #626974;
}

.footer_select_box select {
  width: 70px;
  height: 90px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.9;

  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;

  letter-spacing: 0%;
  text-align: left;
}
.page_router {
  margin-top: 20px;
  margin-left: 50px;
  width: 1320px;
}

.page_router .container {
  margin-left: 40px;
}

.page_router span {
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;

  color: #041e42;
}

.page_router span.drop {
  margin: 0px 20px;
}

.page_router span.active {
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  color: #5c6168;
}
