html,
body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(68, 50, 151, 1);
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

.navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
}

.navbar_top > a img {
  width: 117px;
  height: 36px;
  margin-right: 76px;
}

.navbar_top .nav_search_frame {
  width: 531px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  background-color: white;
}

.navbar_top.search_box {
  padding: 10px 17px;
  width: auto;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search_box.category_list {
  width: 166px;
  height: 40px;
  border: 1px solid blue;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.category_list select {
  width: 140px;
  height: 40px;
  border-radius: 6px 0px 0px 6px;

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}

.category_list input {
  width: 337px;
  height: 40px;

  border: none;
  outline: none;

  color: rgba(98, 105, 116, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.nav_search_frame .search_icon_box {
  width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 6px 6px 0px;
  background-color: #f5c34b;
}

.navbar_top .nav_top_menu {
  margin-top: -5px;
  margin-left: 59px;
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.top_menu_box .top_icon_box {
  width: 54px;
  height: 50px;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid rgba(255 255 255 0);
  border-radius: 6px;
}

.top_icon_box img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.top_icon_box .backet_count {
  width: 15px;
  height: 15px;

  position: absolute;
  top: -2px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: rgba(245, 195, 75, 1);
  color: rgba(11, 30, 64, 1);
}

.top_menu_box .box_info_box {
  display: flex;
  flex-direction: column;
}

.top_menu_box .box_info_box span {
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.top_menu_box .box_info_box strong {
  color: rgba(255, 255, 255, 1);
  margin-left: 15px;

  font-family: Jost;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_bott {
  margin-top: 20px;
  width: 100%;
  height: 50px;

  border-top: 1px solid #5746e1;

  display: flex;
  flex-direction: row;
}

.navbar_bott .navbar_bott_menu_box {
  margin-top: 7px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.navbar_bott_menu_box .brows_box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746e1;
}

.brows_box i {
  width: 30px;
  height: 20px;
  color: white;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.brows_box span {
  width: 185px;
  height: 30.02px;
  color: rgba(255, 255, 255, 1);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_bott_menu_box .navbar_route_menu {
  margin-left: 12px;
  width: 560px;

  display: flex;
  flex-direction: row;
}

.navbar_route_menu .router_menu {
  width: auto;
  height: 41px;
  display: flex;
}

.router_menu a {
  margin-right: 20px;

  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.router_menu a.active {
  color: rgba(245, 195, 75, 1);
}

.navbar_bott_menu_box .sorting_menu {
  display: flex;
  flex-direction: row;
}

.sorting_menu span {
  margin-left: 20px;
  color: rgba(255, 255, 255, 1);

  font-family: Jost;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
}

.footer_frame {
  position: relative;
  width: auto;
  height: 507px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_frame .container {
  width: 1320px;
  height: 246.1px;
  border: 1px solid red;
}

.footer_frame .footer_top {
  width: auto;
  height: 246px;

  display: flex;
  flex-direction: row;
}

.footer_top .contact_us_box {
  width: 285px;
  height: 194px;

  display: flex;
  flex-direction: column;
}

.contact_us_box .footer_space_title {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.contact_us_box .us_box_content {
  width: 274.31px;
  height: 54px;

  display: flex;
  flex-direction: row;
}
.contact_us_box .us_box_content img {
  width: 35.63px;
  height: 30px;
  margin-right: 50px;
}

.footer_box_content {
  display: flex;
  flex-direction: column;
}

.contact_us_box .us_box_content span {
  width: 209px;
  height: 22px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 8px;
  letter-spacing: 0%;
  text-align: left;
}

.contact_us_box .users_box_email {
  width: 274.31px;
  height: 54px;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
}

.contact_us_box .users_box_email img {
  width: 35.63px;
  height: 30px;
  margin-right: 50px;
}

.contact_us_box .users_box_email a {
  text-decoration: none;
}

.users_box_email span {
  width: 209px;
  height: 22px;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 500;
  line-height: 8px;
  letter-spacing: 0%;
  text-align: left;
}
.footer_support_box {
  /* 3 */
  width: 193.67px;
  height: 246.1px;
  margin-left: 90px;
}

.footer_support_box a {
  width: 193.67px;
  height: 38px;
  text-decoration: none;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_support_box .support_box_contact {
  display: flex;
  flex-direction: column;
}
.footer_support_box .support_box_contact a {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
}

.footer_media_box {
  border: 1px solid black;
  width: 300px;
  height: 246.1px;
  display: flex;
  flex-direction: column;
}

.footer_media_box .footer_media_main {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.footer_media_box .footer_media_main .media_box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.footer_media_main .media_box i {
  margin-top: 20px;
  padding-right: 25px;
  width: 30px;
  height: 30px;
}
.footer_media_main .footer_media_main {
  display: flex;
  flex-direction: row;
}

.footer_media_main .footer_space_title {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_media_main .mobile_apps_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer_media_main .mobile_apps_box img {
  width: 35px;
  height: 20px;
}

.footer_media_main .mobile_apps_box span {
  color: rgba(4, 30, 66, 1);
  margin-left: 20px;
  font-family: Jost;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
}
