.shop_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop_category_frame {
  top: 70px;
}

.shop_page .header_frame {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: auto;
  top: 5px;
  display: flex;
  justify-content: center;
}

.shop_page .header_frame .container {
  height: 424px;
  flex-direction: row;

  box-sizing: border-box;
}

.header_frame .header_content {
  position: absolute;
  top: 47px;
  box-sizing: border-box;
}
.header_frame .header_content span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-size: 28px;
  margin-left: 130px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;

  text-align: left;
}

.header_frame .header_content p {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  margin-left: 130px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.header_frame .header_content a {
  width: 185px;
  height: 52px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
  margin-top: 30px;
  text-decoration: none;
  color: #041e42;

  box-sizing: border-box;
  border: 1px solid rgba(245, 195, 75, 1);
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: rgba(245, 195, 75, 1);
}

.header_frame .pagination_dot {
  display: flex;
  flex-direction: row;
  margin-top: 130px;
  margin-left: 130px;
}
.container .pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;

  justify-content: center;
  border-radius: 50%;
}

.container .pagination_dot .dot.active {
  border: 2px solid #123134;
}

.container .pagination_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #112137;
}

.brands_frame {
  width: 100%;
  height: auto;
  margin-top: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brands_frame .container {
  flex-direction: column;
}

.spec_title {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #041e42;
}

.product_pagination_mein {
  width: 400px;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.brands_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.brands_wrapper .brand_box {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px 35px;

  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.brand_box:hover {
  background-color: rgba(68, 50, 151, 1);
  color: #eaeaea;
  cursor: pointer;
}

.brand_box.active {
  background-color: rgba(68, 50, 151, 1);
  color: #eaeaea;
  cursor: pointer;
}

.top_products_frame {
  margin-top: 60px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top_products_frame .container {
  flex-direction: column;
}

.top_products_top {
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top_products_bottom {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
}

.product_pagination_mein .pagionation_dot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0px 20px;
}

.pagionation_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  font-family: var(--font);
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
}

.pagionation_dot .dot.active {
  border: 5px solid #123134;
  bottom: 2px;
}

.pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #112137;
}

.top_products_bottom {
  margin-top: 30px;

  display: flex;
  flex-direction: row;
}
.top_products_bottom .product_box {
  padding-bottom: 20px;
  width: 220px;
  height: auto;

  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  cursor: pointer;
}
.product_box .product_img_box {
  width: 100%;
  height: 220px;
}

.shop_page .product_content_box {
  padding: 0 0 0 18px;
  width: 100%;
  height: auto;
}

.shop_page .product_content_box a {
  text-decoration: none;
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.product_content_box .review_box i {
  color: #f5c34b;
  margin-top: 15px;
}

.container .product_content_box .review_box span {
  font-family: var(--font);
  font-style: normal;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}

.container .product_content_box .price_box {
  margin-top: 5px;
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
}

.container .product_content_box .price_box del {
  opacity: 0.5;
}

.top_products_top_paragraph {
  display: flex;
  flex-direction: column;
}

.spec_title_paragraph {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.top_products_top_paragraph p {
  color: rgba(4, 30, 66, 1);

  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.product_pagination_selectors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 290.76px;
  height: 36px;
  margin-top: 20px;
  border-radius: 6px;
}

.product_pagination_selectors .product_pagination_select {
  width: 90px;
  height: 36px;
  border-radius: 16px;
  padding: 0px 10px;
}

.product_pagination_selectors .product_pagination_select:hover {
  background-color: rgba(68, 50, 151, 1);
  cursor: pointer;
  color: white;
}

.product_pagination_selectors .product_pagination_select.active {
  background-color: rgba(68, 50, 151, 1);
  cursor: pointer;
  color: white;
}

.pro_pegination_box {
  width: 100%;
  height: 90px;
  margin-top: 90px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.pro_pegination_box .next_prev_box {
  width: 50px;
  height: 50px;

  display: flex;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  margin: 0px 30px 0px 0px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(243, 245, 246, 1);
}

.pro_pegination_box .next_prev_btn {
  width: 50px;
  height: 50px;

  display: flex;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  margin: 0px 0px 0px 20px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(243, 245, 246, 1);
}

.pro_pegination_box .pagination_number_Wrap {
  width: 400px;
  height: auto;
  line-height: 10px;

  display: flex;

  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pagination_number_Wrap .pagination_number_box {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;

  width: 50px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
  border: none;
  outline: none;
  margin-right: 10px;
  padding: 5px;
}

.pagination_number_Wrap .pagination_number_box.active {
  background-color: #f5c34b;
  color: black;
  cursor: pointer;
}

.pagination_number_Wrap .pagination_number_box:hover {
  background-color: rgb(191, 193, 194);
  color: black;
  cursor: pointer;
}

.pagination_number_Wrap .pagination_number_box.number_color {
  background-color: rgba(243, 245, 246, 1);
}
